name: Build-Windows-Tool
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
    - name: Install Libraries
      run: pip install pymupdf pyinstaller
    - name: Build EXE
      run: pyinstaller --onefile --console --clean main.py
    - name: Upload Result
      uses: actions/upload-artifact@v4
      with:
        name: Tool_Tiet_Kiem_Nang_Luong
        path: dist/main.exe
